*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:200vh;
    background:#f4f4f5;
    color:#111;
}

.hero {
    display: grid;
    height: 100vh;
    place-items:center;
    text-align:center;
}

.content {
    height: 100vh;
}

.floating-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1100px,90%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    background: rgba(255,255,255,.72);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,.45);
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0,0,0,.08);
    z-index:1000;
}

.logo{
    text-decoration:none;
    font-weight:700;
    color:#111;
    font-size:1.2rem;
}

nav{
    display:flex;
    gap:28px;
}

nav a{
    text-decoration:none;
    color:#444;
    transition:.25s;
}

nav a:hover {
    color:#4F46E5;
}

.btn {
    text-decoration: none;
    background: #4F46E5;
    color: white;
    transition: .3s;
    border-radius:999px;
    padding:10px 18px;
}

.btn:hover {
    transform:translateY(-2px);
}

/*variante2 Floating Pill*/
.floating-navbar{
    border-radius:999px;
    padding:12px 18px;
}

/*variante3 Floating Glow*/
.floating-navbar {
    box-shadow: 0 10px 35px rgba(0,0,0,.08), 0 0 50px rgba(79,70,229,.18);
}

/*variante4 dark mode*/
.floating-navbar {
    background: rgba(17,24,39,.8);
    color: white;
}

nav a{
    color:#ddd;
}

.logo{
    color:white;
}


/*responsive*/
@media(max-width:850px) {
    nav{
        display:none;
    }
    .floating-navbar{
        padding:12px 18px;
    }
}